/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #101728;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Navigation styles */
nav {
    background-color: #1e293b;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow-x: hidden;
}

.none {
    text-decoration: none;
    color: white;
}

.navlogo {
    width: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

/* Main content styles */
main {
    padding: 0px;
    /* Adjust as needed based on your nav height */
    margin-top: 60px; 
    margin-bottom: 60px; /* Adjust as needed based on your footer height */
}

.image-container {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: white;
    text-align: center;
    padding: 20px;
}

#divs {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#divs div {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b1224;
    border-radius: 25px;
    margin: 10px;
}

.divimg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
}

footer {
    background-color: #1e293b;
    color: #ccc;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;    
    bottom: 0;
    z-index: 1000; /* Ensure it's above other content */
}

/* Form styles */
.form-container {
    width: 100%; /* Adjust as needed */
    background: linear-gradient(#0b1224, #212121) padding-box,
                linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    /* Center the form horizontally */
    margin: auto;
    margin-top: 80px;
    max-width: 400px; /* Adjust as needed */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    font-size: 14px;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background: linear-gradient(to left, #9340FF, #FF3C5F);
    border-color: #fff;
    color: white;
}
